:root{
    --cor-header-inicial: white;
    --cor-header-final:white;
    --cor-fundo-body: white;
    --cor-fundo-footer:rgb(76, 122, 95);
    
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--cor-fundo-body);
    font-family:Arial, Helvetica, sans-serif;     
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom,var(--cor-header-final),var(--cor-header-inicial));
    color: white;
    padding: 15px;
    padding-bottom: 15px;
    height: 100px;
}
.pai {
    align-items: flex-start;
    display: flex;
    gap: 20px;
}
.filho1 {
    font-weight: bold;
    color: rgb(51,120,160);
    background-color: rgb(51, 120, 160);
    font-size: xx-small;
    margin: auto;
    
}
.filho2{
    font-weight: bold;    
    color: rgb(8, 8, 8);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.filho3{
    color:  rgb(24, 23, 23);
    font-weight: normal;
    font-size:medium;
    margin: auto;
}
nav {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 50px;
    align-items: flex-start;
    padding-top: 90px;
    
}

nav > a {
    text-decoration:none;
    color: #0a0a0a;
    margin-right: 20px;
    text-align:end;
    font-size: small;
}

nav >a :hover{
    transition: all;
    
}

main > h2{
    color:rgb(219, 214, 230);
    text-align: center;
}

main{ 
    max-width: 300%;
    margin: 0px;
    background-color: rgb(147, 172, 187);
    /* background-image: linear-gradient(to right, rgb(56, 35, 133), white); */
    height: 600px;
    width: 340px;
    padding-left: 200px;
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    
}

main > section {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    margin: auto;
    background-color: rgb(208, 226, 235);
    width: 400px;
    height: 500px;
    box-shadow: -1px 1px 20px rgb(125, 127, 128) ;
    /* border: 1px solid red; */
    
    
}
.filho4{
}

main > section >img{
    margin-top: 10px;
    max-width: 80%;
    border-radius: 50%;
    height: 200px;
    margin: 20px;
    padding: 10px;
    
}
main > .sec1{
    padding-left: 50%;
}
main > .sec1 > p {
    color: rgb(90, 73, 73);
    text-align: justify;
    background-color: white;
    padding: 15px;
    width: 400px;
    border-radius: 10px;   
}