:root{
    --cor-header-inicial: white;
    --cor-header-final:white;
    --cor-fundo-body: white;
    --cor-fundo-footer:rgb(76, 122, 95);
    
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--cor-fundo-body);
    font-family:Arial, Helvetica, sans-serif;     
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom,var(--cor-header-final),var(--cor-header-inicial));
    padding: 15px;
    padding-bottom: 15px;
    height: 100px;
    width: 100%;
    margin: 1px solid red;
    position: fixed;
}
.pai {
    align-items: flex-start;
    display: flex;
    gap: 20px;
}
.filho1 {
    font-weight: bold;
    color: rgb(125, 125, 126);
    background-color: rgb(125, 125, 126);
    font-size: xx-small;
    margin: auto;
    
    
}
.filho2{
    font-weight: bold;    
    color: rgb(8, 8, 8);
    font-family:sans-serif;
}
.filho3{
    color:  rgb(87, 94, 94);
    font-weight: normal;
    font-size:medium;
    margin: auto;
}
nav {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
    align-items: flex-start;
    padding-right: 50px;
    font-weight: normal;
    
}

nav > a {
    text-decoration:none;
    color: #0a0a0a;
    margin-right: 20px;
    text-align:end;
    font-size: small;
}

nav >a :hover{
    transition: all;
    
}

main{ 
    max-width: 300%;
    margin: 0px;
    background-color: rgb(147, 172, 187);
    height: 600px;
    width: 340px;
    padding-left: 200px;
    padding-top: 300px;
    padding-bottom: 100px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    
}


.container {
    width: 850px;
    height: 560px;
    display: flex;
    font-family: Arial, sans-serif;
    padding-left: 25px;
}

.esquerda, .direita {
    width: 400px;
    height: 560px;
    display: flex;
    justify-content: center; /* centraliza texto na horizontal */
    align-items: center;     /* centraliza texto na vertical */
    font-size: 24px;
    color: white;
}

.esquerda {
    background-color: rgb(208, 226, 235);
    width: 380px;
    height: 560px;
    box-shadow: -10px 10px 10px rgba(49, 48, 48, 0.1);
    flex-direction: column;
}
img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    

}
.filho4{
    font-weight: bold;    
    color: rgb(8, 8, 8);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
.linha-abaixo {
    width: 6cm;              /* aqui está o "risco" com 3 centímetros */
    height: 3px;             /* espessura da linha */
    border-radius:50px;
    margin-bottom:50px;
    background-color: rgb(19, 33, 155); /* cor da linha */
    margin: 10px auto 0 auto; /* centraliza e dá espaço acima */
}
.filho5{
    color: rgb(100, 100, 100);
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 20px;
    word-spacing: 8px;
    padding-top: 20px;
}
/* div > .container_img {
    width: 400px;
    height: 60px;
    background-color: white;
    padding: auto;
    flex-direction:row;
    justify-content: space-between;
    object-fit:fill;
}
img > .img1 {
    background-color: white;
    width: 15px;
    height: 15px;
    padding: 0;
    
} */

.direita {
    color: black;
    display: flex;
    flex-direction:column;    
    padding-left: 25px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 560px;
    font-family: 'Poppins', sans-serif;
    justify-content: flex-start; /* garante que os elementos comecem do topo */
    
}
h1{
    font-size: 70px;
    font-weight: bold;
    margin-top: 40px;      /* opcional: remove espaço extra acima */
    padding-left: 10px; /* opcional: dá um respiro da borda esquerda */
    padding-right: 300px;
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.paragrafo1  {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 325x;
    color: rgb(70, 68, 68);
    
}


footer{
    background-color: rgb(244, 247, 245);
    position:absolute;
    margin: auto;
    width: 100%;
    height: 0px;
    padding-left: 40px;
    display:block;
    font-family:sans-serif;
    font-weight: normal;
}